<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Khanij.WeighbridgeRegistration.Alphanumeric"/>
      <class name="com.Khanij.WeighbridgeRegistration.Duplicate"/>
       <class name="com.Khanij.WeighbridgeRegistration.Length"/>
        <class name="com.Khanij.WeighbridgeRegistration.Mandatory"/>
         <class name="com.Khanij.WeighbridgeRegistration.SpecialChar"/>
          <class name="com.Khanij.WeighbridgeRegistration.SqlChar"/>
           <class name="com.Khanij.WeighbridgeRegistration.WhiteSpace"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
